<%= form_for [@facility, @controllable_device], method: :patch, html: {id: 'editForm', onsubmit: 'submitted()'} do |f| %>
  <%= render partial: 'points/show.html.erb', locals: { point: @controllable_device.point, point_type: "controllable device", path: facility_controllable_device_path(@facility.id, @controllable_device) } %>

  <div class="btn-group mt-2" data-toggle="buttons">
    <label class="btn btn-primary active">
      <input type="radio" name="mode_toggle" id="manualOption" autocomplete="off"<%= ' checked' if @controllable_device.mode.downcase == 'manual' %>> MANUAL
    </label>
    <label class="btn btn-primary">
      <input type="radio" name="mode_toggle" id="autoOption" autocomplete="off"<%= ' checked' if @controllable_device.mode.downcase == 'auto' %>> AUTO
    </label>
  </div>

  <div class="row my-2"<%= ' style="display: none;"' if @controllable_device.mode.downcase != 'manual' %>>
    <div class="col-sm-2 my-auto">
      <b>Set device to</b>
    </div>
    <div class="col-sm-3">
      <div class="row">
        <input class="form-control col-sm-9" type="text" id="commandField">
        <button type="button" class="btn btn-primary ml-2 col">Set</button>
      </div>
    </div>
  </div>

  <div class="row mx-auto">
    <div class="col-xs my-auto">
      <h5 class="mt-2">Automation Rules</h5>
    </div>
    <div class="col-xs ml-3 my-auto pb-2">
      <button type="button" class="btn btn-success btn-sm form-toggle" onclick="addRuleRow()" style= "display: none;"><%= ion_icon 'plus' %></button>
    </div>
  </div>
  <table class="table table-bordered table-hover table-sm" id="rules-table" data-points="<%= @available_points.to_json %>">
    <thead>
      <tr>
        <th scope="col">Active</th>
        <th scope="col">Expression</th>
        <th scope="col">Action</th>
        <% if @access_level.level.downcase == "controller" %>
          <th scope="col" class="form-toggle" style="display: none;"></th>
        <% end %>
      </tr>
    </thead>
    <tbody id="rule-rows" data-facility-id="<%= @facility.id %>">
      <% @controllable_device.rules.each do |rule| %>
        <tr>
          <input type="hidden" name="rules_attributes[][id]" value="<%= rule.id %>">
          <td class="text-center align-middle">
            <div class="is-active-checkbox form-toggle">
              <input class="my-auto mx-auto" type="checkbox" disabled<%= ' checked' if rule.is_active %>>
            </div>
            <div class="is-active-checkbox form-toggle" style="display: none;">
              <input type="hidden" name="rules_attributes[][is_active]" value="0">
              <input class="my-auto mx-auto" type="checkbox" name="rules_attributes[][is_active]" <%= ' checked' if rule.is_active %>>
            </div>
          </td>
          <td>
            <input type="text" class="form-control-plaintext form-toggle" value="<%= rule.expression %>" readonly>
            <div class="input-group form-toggle" style= "display: none;">
              <input class="form-control" type="text" name="rules_attributes[][expression]" value="<%= rule.expression %>">
              <div class="input-group-btn expression-button">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle=dropdown>
                  <span class="ion-radio-waves"></span>
                </button>
                <div class="dropdown-menu dropdown-menu-right pointDropdown">
                  <span class="dropdown-item">
                    <input class="form-control mx-auto" type="text" onkeyup="updateList(this)" style="width: 100%;">
                  </span>
                  <% if @available_points.key?(@facility.id) %>
                    <% @available_points[@facility.id].each do |point_s| %>
                      <a href="#" class="dropdown-item" onclick="return sensorClicked(this)"><%= point_s %></a>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          </td>
          <td>
            <input type="text" class="form-control-plaintext form-toggle" value="<%= rule.action %>" readonly>
            <input class="form-control form-toggle" type="text" name="rules_attributes[][action]" style="display: none;" value="<%= rule.action %>">
          </td>
          <% if @access_level.level.downcase == "controller" %>
            <td class="text-center align-middle form-toggle" style="display: none;">
              <button class="btn btn-sm btn-danger" onclick="deleteRuleRow(this)" type="button">
                <span class="ion-trash-b"></span>
              </button>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

<% end %>

<%= render partial: 'points/filter_chart.html.erb', locals: { select_points: false } %>

<%= render partial: 'points/show_chart.html.erb', locals: {point_id: @controllable_device.point.id} %>
